[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
cloud-sptheme = "*"
sphinx-autobuild = "*"
sphinxcontrib-oembed = "*"
sphinxcontrib-drawio = "*"
click = "*"
sphinx-click = "*"
sphinx-markdown-checkbox = "*"
sphinxcontrib-issuetracker = "*"

[dev-packages]

[requires]
python_version = "3.10"
