[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
cloud-sptheme = "*"
sphinx-autobuild = "*"
sphinxcontrib-oembed = "*"
sphinxcontrib-drawio = "*"
click = "*"
sphinx-click = "*"
sphinx-markdown-checkbox = "*"
sphinxcontrib-issuetracker = "*"
sphinx-design = "*"
sphinx-book-theme = "*"
myst-parser = "*"
sphinx-last-updated-by-git = "*"

[dev-packages]

[requires]
python_version = "3.11"
