accessible-pygments==0.0.5
alabaster==0.7.16
anyio==4.3.0
Babel==2.15.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloud-sptheme==1.10.1.post20200504175005
colorama==0.4.6
distlib==0.3.8
docutils==0.21.2
filelock==3.14.0
h11==0.14.0
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.1
mdurl==0.1.2
myst-parser==3.0.1
packaging==24.0
pipenv==2023.12.1
platformdirs==4.2.2
pycmarkgfm==1.2.1
pycparser==2.22
pydata-sphinx-theme==0.15.2
Pygments==2.18.0
PyYAML==6.0.1
requests==2.32.2
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.3.7
sphinx-autobuild==2024.4.16
sphinx-book-theme==1.1.2
sphinx-click==6.0.0
sphinx-last-updated-by-git==0.3.7
sphinx-markdown-checkbox==0.1.0
sphinx_design==0.6.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-drawio==0.0.17
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-issuetracker==0.11
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-oembed==0.2.2
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
starlette==0.37.2
typing_extensions==4.11.0
urllib3==2.2.1
uvicorn==0.29.0
virtualenv==20.26.2
watchfiles==0.21.0
websockets==12.0
